# Basic Operations and Operators

### Arithmetic operators
- ADD +
- SUB -
- MUL *
- DIV / (real number)
- INTEGER DIV // (whole number)
- MODULUS % (remainder)
- EXPONENT ** (power)

In [3]:
2 + 2

4

In [2]:
3 - 10

-7

In [4]:
329 * 123

40467

In [5]:
10 / 3

3.3333333333333335

In [6]:
10 // 3

3

In [7]:
10 ** 3

1000

In [8]:
10 % 3

1

### Comparison Operators
<, >, <=, >=, ==, !=

In [9]:
9203 > 2139

True

In [10]:
2903 < 9202

True

In [11]:
290 >= 903

False

In [12]:
290 <= 903

True

In [13]:
100 == 5

False

In [14]:
5 != 5

False

In [15]:
'Hello'

'Hello'

In [17]:
"this is a message in double quotes"

'this is a message in double quotes'

In [18]:
'''this is sparta'''

'this is sparta'

In [19]:
'''Twinkle Twinkle Little Star
How I wonder what you are
blah blah blah
'''

'Twinkle Twinkle Little Star\nHow I wonder what you are\nblah blah blah\n'

In [20]:
name = 'Zaid Kamil'

In [22]:
a = 10
b = 3

In [23]:
a + b

13

In [24]:
b ** a

59049

In [29]:
a // 11

0

In [30]:
college ='Colvin Taluqdars College'
dob = '3 Jan'
mobile = '7860380291'

### Kuch Common errors

In [39]:
# single quotes error
location = 'Lucknow is my place

SyntaxError: EOL while scanning string literal (4095617974.py, line 2)

In [42]:
# Undefined Variable error NameError
place

NameError: name 'place' is not defined

### String operators example

In [43]:
12 + 23 # add

35

In [44]:
'hello' + "world" # concatenation

'helloworld'

In [45]:
"Random" + location

'RandomLucknow is my place'

In [46]:
# string and numbers can not be added
a + name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
# you can multiply a string with a number -> duplication
"Ha" * 10

'HaHaHaHaHaHaHaHaHaHa'

In [48]:
name * 10

'Zaid KamilZaid KamilZaid KamilZaid KamilZaid KamilZaid KamilZaid KamilZaid KamilZaid KamilZaid Kamil'

In [49]:
'-' * 15

'---------------'

In [1]:
# city = 'Lucknow'
city * 1000

NameError: name 'city' is not defined

In [3]:
emojis = "ðŸ’¥"

In [4]:
emojis * 10

'ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥'

# Variables

In [2]:
name = "Bruce Wayne"
hero_name = "Batman"
skills = ['Fighting','Super intelligence','etc.']
creator = "Bob Kane"
created_in = 1939

In [ ]:
x = 23

In [7]:
type(x)

int

In [8]:
type(creator)

str

In [9]:
kahani = '''this is the story of a person
who was not learning to code
one day that person started learning
to be continued.'''

In [10]:
type(kahani)

str