In [ ]:
def check():
    print('this is a simple function')

In [ ]:
check()

In [ ]:
def divide(a, b):
    ans = a / b
    print(ans)

In [ ]:
divide(10) # error

In [21]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary * .08
    print(f"{old_salary} -> {new_salary}")

def remove_hra(salary):
    new_salary = salary - salary * .05
    print(f"{salary}->{new_salary}")

In [30]:
print(update_salary(10000))
print(remove_hra(10800))

10000->10800.0
None
10800->10260.0
None

functions with return value and parameters

In [31]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary * .08
    return new_salary

def remove_hra(salary):
    new_salary = salary - salary * .05
    return new_salary

In [33]:
print(update_salary(10000))

10800.0

In [34]:
salary = update_salary(20000)
print(salary)

21600.0

In [37]:
update_salary(10000) + 5000

15800.0

In [39]:
remove_hra(update_salary(15000))

15390.0

- waf to return true or false, if a number is even or not
- waf to remove all vowels from a sentence given in a function
- waf to return the second highest value from a list given as parameter