# set 
- set is **mutable** `(items can be changed during execution)`
- set is heterogenous `(mixed data can be stored)`
- set can have **unique** values
- set is **unindexed** and **unordered** 
- set uses `{ }` brackets with values inside it seperated with commas
- to create empty we have to use `set()`
- set can only store **immutable** datatype value (numbers. string, tuples,etc)

### what to learn
- #### creating a set âœ”
- #### traversal (looping) âœ”
- #### function âœ”
- #### conversion between list/tuple/set

In [ ]:
a = set() # empty
b = {1,2,3,4}
c = set([1,2,3,4])
print(a, b, c)

In [ ]:
a.add(1)
a

In [ ]:
d = {1,2,3,3,3,1,1,2,2,2,11,2,2,2,2,1}
print(d)

In [ ]:
d.remove(2)

In [ ]:
x = set()
for i in range(5):
    val = input("Enter a value: ")
    x.add(val)
print(x)

In [ ]:
for i in b:
    print(i)

In [ ]:
for name in x:
    print(name,end=' ')

In [ ]:
x.update(['Ali','Ahmed','Hassan'])
x

### functions
- adding values
    - add()
    - update()
- removing values
    - remove()
    - discard() ðŸ‘ˆ
    - pop()
    - clear()
- set operations
    - union()
    - intersection()
    - difference()
    - symmetric_difference()
    - is_superset()
    - is_subset()
    - is_disjoint()

In [ ]:
sa = {1,2,3,4,5}
sb = {2,7,8,8,9,5}

In [ ]:
print(sb.union(sa))
print(sa | sb) # pipe operator is union

In [ ]:
print(sb.intersection(sa))
print(sa & sb) # & operator is intersection

In [ ]:
print(sb.difference(sa))
print(sa - sb) # - operator is difference

In [ ]:
print(sb.symmetric_difference(sa))
print(sa ^ sb) # & operator is symmetric difference

In [24]:
sc = {1,2,3,4,5,6,7,8,9,10}
sd = {11,12,13}

In [25]:
sa.issubset(sc) # true

True

In [26]:
sb.issubset(sc)

True

In [27]:
sd.issubset(sc)

False

# Task
#### wap to take 10 integers in a set from user and then display the sum of all values

In [32]:
x = set()
for i in range(10):
    num = int(input("Enter a number: "))
    x.add(num)
total = sum(x)
print(x)
print(total)

32