# Tuple 
- tuple is **immutable** `(item cannot be changed during execution)`
- tuple is heterogenous `(mixed data can be stored)`
- tuple can have duplicate values
- tuple is indexed `(item have indexes and can be sliced)`
- tuple uses `( )` brackets with values inside it seperated with commas

### what to learn
- #### creating a tuple ✔
- #### indexing n slicing ✔
- #### traversal (looping) ✔
- #### function (2) ✔

In [2]:
a = (1,2,3,4) # tuple stored in parenthesis

In [3]:
print(a, type(a))

(1, 2, 3, 4) <class 'tuple'>

In [6]:
data = 12,34,56,67,89
data

(12, 34, 56, 67, 89)

In [7]:
a,b,c = 10,12,13
z = (a,b,c)
print(z)

(10, 12, 13)

In [9]:
x = (1,2,3,4,5,6,7,8,9,10)

In [11]:
print(x[0], x[-1], x[6])

1 10 7

In [14]:
print("first five",x[:5])
print("last five",x[-5:])
print('reverse',x[::-1])

first five (1, 2, 3, 4, 5)
last five (6, 7, 8, 9, 10)
reverse (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [15]:
y = [1,2,5,4,3] # list
print(y)
y[0] = 10 # update
print(y)

[1, 2, 5, 4, 3]
[10, 2, 5, 4, 3]

In [16]:
x = (1,2,3,4,5,6,7,8,9,10)
print(x)
x[0] = 10 # update will not work
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

TypeError: 'tuple' object does not support item assignment

In [21]:
# traversing
for i in x:
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [22]:
names = 'Alex', "Mike", "John","Mary","Bob"

In [24]:
for name in names:
    print("Hello",name)

Hello Alex
Hello Mike
Hello John
Hello Mary
Hello Bob

In [26]:
names.index("John")

2

In [30]:
if "Maria" in names:
    names.index('Maria')
else:
    print("No Maria")

No Maria

In [31]:
x = (11,2,2,1,1,2,2,3,1)
print(x.count(2))
print(x.count(1))
print(x.count(11))
print(x.count(12))

4
3
1
0

conversion from list to tuple and vice versa

In [33]:
x = [1,2,3,4,5,6,7,8,9,10]
xt = tuple(x) # conversion
print(x, type(x))
print(xt, type(xt))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

In [35]:
xl = list(xt) # conversion
print(xt, type(xt))
print(xl, type(xl))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>

breaking string chars to list/tuple

In [36]:
word = "valhalla"
word_chars_list = list(word)
word_chars_tuple = tuple(word)
print(word)
print(word_chars_list)
print(word_chars_tuple)

valhalla
['v', 'a', 'l', 'h', 'a', 'l', 'l', 'a']
('v', 'a', 'l', 'h', 'a', 'l', 'l', 'a')